%article{ :class => "content-wrapper grey small" }
	%div{ :class => "shadow" }
	%section{ :class => "wrapper" }
		%article{ :class => "facebook-wrapper" }
			%h2
				Like ons op Facebook
			%div{ :class => "facebook" }
				<div class="fb-like" data-href="http://www.facebook.com/pages/Shoot-my-Ride/370660943027880" data-send="false" data-show-faces="false" data-font="arial" data-colorscheme="dark"></div>
%footer
	%section{ :class => "wrapper" }
		%nav
			%ul
				%li{ :class => "{% if page.slug == 'index' %}active{% endif %}" }
					%a{ :href => "/" }
						Home
				{% nav 'site', depth: 1, no_wrapper: true, icon: false, active_class: 'active' %}
		%ul{ :class => "social" }
			%li
				%a{ :href => "#" }
					{{ 'twitter.gif' | theme_image_tag: 'alt:Twitter' }}
			%li
				%a{ :href => "#" }
					{{ 'facebook.gif' | theme_image_tag: 'alt:Facebook' }}
	%a{ :href => "#", :class => "backtotop scrollToTop" }