<div class="copyright">
	&copy; 2012 Shoot my Ride<span>|</span><a href="/algemene-voorwaarden">Algemene voorwaarden</a>
</div>
<div class="social">
	<a href="#">{{ 'icon-facebook.png' | theme_image_tag }}</a>
	<a href="#">{{ 'icon-twitter.png' | theme_image_tag }}</a>
</div>
<a href="#" class="back-to-top"></a>