%header
	%section{ :class => "wrapper" }
		%h1
			%a{ :href => "/" }
				Shoot my Ride
		%nav
			%ul
				%li{ :class => "{% if page.slug == 'index' %}active{% endif %}" }
					%a{ :href => "/" }
						Home
				{% nav 'site', depth: 1, no_wrapper: true, icon: false, active_class: 'active' %}
	/ %div{ :class => "shadow-top left" }
	/ %div{ :class => "shadow-top right" }