%script{ src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCZoIMJHsISgkujMW6FAeMt5mQATqwy08Y&sensor=false" }
{{ 'libs/modernizr.js' | javascript_tag }}
{{ 'libs/jquery.js' | javascript_tag }}
{{ 'libs/jquery.hashchange.js' | javascript_tag }}
{{ 'libs/jquery.easing.js' | javascript_tag }}
{{ 'libs/jquery.royalslider.js' | javascript_tag }}
{{ 'classes/misc.js' | javascript_tag }}
{{ 'classes/maps.js' | javascript_tag }}
{{ 'init.js' | javascript_tag }}