<div id="latest-shoots">
	<ul>
		<li>
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
		<li class="no-mg-right">
			<a href="">
				<img src="/images/thumbs/1.jpg">
				<div class="hover">
					<p>Ferrari F50<br><span>Jan Janssen</span></p>
					<span class="icon"></span>
				</div>
			</a>
		</li>
	</ul>
</div>	