<nav>
	<ul>
		<li>
			<a href="/"{% if page.slug == 'index' %} class="active"{% endif %}>
				Home<br><span>Welkom</span>
			</a>
		</li>
		<li>
			<a href="/over-ons"{% if page.slug == 'over-ons' %} class="active"{% endif %}>
				Over ons<br><span>Wie zijn wij?</span>
			</a>
		</li>
		<li>
			<a href="/onze-diensten"{% if page.slug == 'onze-diensten' or page.parent.slug == 'onze-diensten' %} class="active"{% endif %}>
				Onze diensten<br><span>Wat doen wij?</span>
			</a>
		</li>
		<li>
			<a href="/portfolio"{% if page.slug == 'portfolio' %} class="active"{% endif %}>
				Portfolio<br><span>Ons werk</span>
			</a>
		</li>
		<li>
			<a href="/contact"{% if page.slug == 'contact' %} class="active"{% endif %}>
				Contact<br><span>Stel je vraag</span>
			</a>
		</li>
	</ul>
</nav>