<div class="priceplans">
	<div class="priceplan">
		<h3>Basis</h3>
		<ul>
			<li class="price">&euro; 149,-</li>
			<li>Door ons gekozen locatie</li>
			<li>Inclusief een <a href="#">rig shot</a></li>
			<li>Basis nabewerking</li>
			<li>Inclusief een print op A4 formaat</li>
			<li>DVD met foto's</li>
			<li class="order"><a href="#" class="btn">Reserveren</a></li>
		</ul>
	</div>
	<div class="priceplan">
		<h3 class="red">Uitgebreid</h3>
		<ul>
			<li class="price">&euro; 249,-</li>
			<li>Vrije locatiekeuze</li>
			<li>Inclusief 2 <a href="#">rig shots</a></li>
			<li>Geavanceerde nabewerking</li>
			<li>Inclusief een print op A3 formaat</li>
			<li>DVD met foto's</li>
			<li class="order"><a href="#" class="btn">Reserveren</a></li>
		</ul>
	</div>
	<div class="priceplan no-mg">
		<h3>Custom</h3>
		<ul>
			<li class="price small">Prijs op aanvraag</li>
			<li>Bijzondere locaties mogelijk (bijv. circuit)</li>
			<li>Club of meerdere auto's</li>
			<li>Speciale nabewerkingseisen</li>
			<li>In het donker met studioflitsers</li>
			<li>&hellip; en nog veel meer</li>
			<li class="order"><a href="#" class="btn">Reserveren</a></li>
		</ul>
	</div>
</div>