<div id="slider">
	<div class="slider-shadow"></div>
	<div class="slides-wrapper">
		<div class="cycle">
			<figure>
				<img src="/images/slider/1.jpg">
			</figure>
			<figure>
				<img src="/images/slider/2.jpg">
			</figure>
			<figure>
				<img src="/images/slider/3.jpg">
			</figure>
			<figure>
				<img src="/images/slider/4.jpg">
			</figure>
			<figure>
				<img src="/images/slider/5.jpg">
			</figure>
		</div>
		<a class="slider-nav slider-prev" href="#"></a>
		<a class="slider-nav slider-next" href="#"></a>
	</div>
	<div class="slider-pager"></div>
</div>