<div id="slider">
	<div class="slider-shadow"></div>
	<div class="slides-wrapper">
		<div class="cycle">
			{% for image in contents.slider %}
				<figure>
					<img src="{{ image.image.url }}" alt="{{ image.title }}">
				</figure>
			{% endfor %}
		</div>
		<a class="slider-nav slider-prev" href="#"></a>
		<a class="slider-nav slider-next" href="#"></a>
	</div>
	<div class="slider-pager"></div>
</div>