%link{ href: "{{ 'favicon.ico' | theme_image_url }}", rel: "shortcut icon", type: "image/x-icon" }

{{ '//fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster|Oswald:400,300,700' | stylesheet_tag }}
{{ 'royalslider' | stylesheet_tag }}
{{ 'styles' | stylesheet_tag }}
{{ 'media-queries' | stylesheet_tag }}

/[if IE] {{ 'ie' | stylesheet_tag }}