%link{ href: "/image/favicon.ico", rel: "shortcut icon", type: "image/x-icon" }

{{ '//fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster|Oswald:400,300,700' | stylesheet_tag }}
{{ 'royalslider.css' | stylesheet_tag }}
{{ 'styles.css' | stylesheet_tag }}
{{ 'media-queries.css' | stylesheet_tag }}

/[if IE] {{ 'ie.css' | stylesheet_tag }}