@import compass/reset
@import compass/css3

// Mixins
=data-uri-bg($image, $properties: false)
	@if $properties != false
		background: inline-image($image) $properties
		*background: url($image) $properties
	@else
		background: inline-image($image)
		*background: url($image)

=retina-image($image, $ext, $resolution, $properties: false)
	background: url(/images/#{$image}.#{$ext}) $properties
	@media only screen and (-webkit-device-pixel-ratio: 2)
		background: url(/images/#{$image}_2x.#{$ext}) $properties
		background-size: $resolution

=input-placeholder($color)
	&.placeholder
		color: $color
	&:-moz-placeholder
		color: $color
	&::-webkit-input-placeholder
		color: $color

// Color variables
$grey: #333
$lightGrey: #cacaca
$darkGrey: #252525
$orange: #f64305

// Reusable styles
a
	text-decoration: none

p a,
ul li a,
address a
	color: $grey

	&:hover
		color: $orange

h2
	font-size: 48px
	line-height: 68px
	color: white
	font-family: 'Oswald', sans-serif
	font-weight: 700
	margin: 0 0 15px 0

	&.grey
		color: $darkGrey

input:focus
	outline: none

.btn
	display: inline-block
	height: 44px
	width: auto
	line-height: 44px
	font-size: 23px
	font-family: 'Oswald', sans-serif
	font-weight: 400
	text-transform: uppercase
	background: $orange
	color: white
	padding: 0 20px
	border: 0
	outline: none
	cursor: pointer

	&.grey
		background: $grey

	&:hover
		color: white

.intro
	font-size: 32px
	line-height: 50px
	color: white
	font-family: 'Oswald', sans-serif
	font-weight: 300
	margin-bottom: 30px

	&.grey
		color: $darkGrey

.shadow
	position: absolute
	top: 0
	left: 0
	background: url(/images/bg-shadow.png) repeat-x
	width: 100%
	height: 8px
	z-index: 1

.message
	font-style: italic

// Portfolio overview
.thumbs
	position: relative
	margin: -35px 0 0 0
	li
		position: relative
		float: left
		margin: 0 25px 25px 0
		&.no-mg
			margin-right: 0
		&.small
			width: 220px
			height: 220px
		a
			width: 100%
			height: 100%
			display: block
			color: white
			font-family: 'Oswald', sans-serif
			font-weight: 400

			&:hover p
				color: white

			img
				width: 100%
				height: 100%

			p
				position: absolute
				left: 0
				bottom: 0
				height: 40px
				line-height: 40px
				width: 95%
				padding-left: 5%
				background: $darkGrey
				text-transform: uppercase
				font-size: 16px
				span
					position: absolute
					top: 6px
					right: 6px
					height: 28px
					line-height: 28px
					font-size: 15px
					padding: 0 10px
// Royal slider
.rsBullets
	position: absolute
	z-index: 25
	left: 0
	bottom: 25px
	width: 100%
	height: auto
	margin: 0 auto
	text-align: center
	line-height: 18px
	overflow: hidden

	.rsBullet
		width: 8px
		height: 8px
		display: inline-block
		margin: 0 3px 0
		border-radius: 50%
		background: rgba(255,255,255,0.5)
		
		&.rsNavSelected
			background-color: #fff

.rsPreloader
	position: absolute
	width: 20px
	height: 20px
	background-image: url(/images/royalslider/preloader.gif)
	left: 50%
	top: 50%
	margin-left: -10px
	margin-top: -10px

.rsArrow
	position: absolute
	top: 50%
	width: 60px
	height: 60px
	margin-top: -30px
	z-index: 25

	.rsArrowIcn
		width: 100%
		height: 100%
		background-color: $grey
		background-position: center center
		background-repeat: no-repeat

		&:hover
			background-color: $orange

	&.rsArrowLeft
		left: 0
		.rsArrowIcn
			background-image: url(/images/arrow-prev.png)
	&.rsArrowRight
		right: 0
		.rsArrowIcn
			background-image: url(/images/arrow-next.png)

// Static header pictures
figure.header
	position: relative
	width: 100%
	height: 600px
	overflow: hidden
	background-position: center center
	+background-size(cover)

	&.right
		background-position: top right

// Intro underneath header
.intro-wrapper
	position: relative
	float: left
	width: 100%
	background: $grey url(/images/bg-grey.gif)
	text-align: center
	padding: 50px 0

	ul li
		display: inline-block
		margin-right: 15px

		&.no-mg
			margin-right: 0

	.newsletter
		position: relative
		clear: both
		width: 440px
		margin: auto
		overflow: hidden

		input
			float: left
			display: inline-block
			&[type="email"]
				width: 250px
				height: 14px
				padding: 15px
				border: 0
				margin-right: 15px
				font-size: 16px
				font-family: 'Droid Sans', serif
				font-weight: 400
				+input-placeholder($lightGrey)
		.btn
			font-weight: 300

		.message
			font-size: 18px
			color: white
			font-style: italic

// Main content 
.main-content-wrapper
	position: relative
	float: left
	width: 100%
	padding: 50px 0 50px 0

	&.extra
		padding-top: 100px

	.subwrapper
		position: relative
		width: 100%
		float: left

	h2
		color: $darkGrey
	.intro
		color: $darkGrey
		font-size: 28px
		line-height: 40px

		&.small
			margin-right: 300px

	.filter
		position: absolute
		top: 100px
		right: 0

		.btn
			background: $orange url(/images/arrow-filter.png) no-repeat 115px center
			padding-right: 45px
	hr.line
		background: #e5e5e5
		border: 0
		border-bottom: 1px solid white
		height: 1px
		margin-bottom: 35px
	.thumbs
		margin: 0 0 35px 0
		float: left

		li
			width: 313px
			height: 313px
	address
		position: relative
		font-family: 'Oswald', sans-serif
		font-weight: 300
		font-size: 20px
		line-height: 32px
		margin-top: 25px

		section
			float: left
			margin-right: 100px

			a
				color: $orange

			span
				font-weight: bold
				width: 20px
				display: inline-block

				&.wide
					width: 40px
// Priceplans
.priceplans
	position: relative
	float: left
	width: 100%
	margin: 20px 0 50px 0

	.priceplan
		position: relative
		float: left
		width: 33%
		background: #fafafa
		text-align: center

		h3
			display: block
			width: 100%
			background: #dedede
			height: 72px
			line-height: 72px
			color: $darkGrey
			font-family: 'Oswald', sans-serif
			font-weight: 300
			font-size: 36px
		ul li 
			display: block
			height: 40px
			line-height: 40px
			border-bottom: 1px dashed #e6e6e6

			&.price
				font-size: 48px
				font-weight: 700
				font-family: 'Oswald', sans-serif
				height: 100px
				line-height: 100px
				&.small
					font-size: 32px
			&.book
				border-bottom: 0
				height: 60px
				line-height: 60px
				margin: 10px 0 0 0

			.btn
				font-size: 22px

		&.highlight
			margin-top: -10px
			background: white
			border-left: 1px solid white
			border-right: 1px solid white

			h3
				background: #d1d0ce
				height: 92px
				line-height: 92px
// Tables
.table
	position: relative
	float: left
	width: 100%
	margin-bottom: 50px

	table
		border-collapse: collapse
		width: 100%

		tr
			background: #fafafa
			border-bottom: 1px dashed #e6e6e6

			&.no-border
				border: 0
			&.even
				background: white
			th
				background: #dedede
				height: 60px
				line-height: 60px
				padding-left: 25px
				font-family: 'Oswald', sans-serif
				font-weight: 400
				font-size: 18px
			td
				padding-left: 25px

				.btn
					font-size: 16px
					height: 30px
					line-height: 30px
					margin: 10px 0
// Error styles
ul.error
	color: $darkGrey
	font-size: 28px
	line-height: 40px
	font-family: 'Oswald', sans-serif
	font-weight: 300
	list-style: outside
	margin: 0 0 0 50px

// Google maps
.maps
	position: relative
	width: 100%
	height: 600px

// Forms
.form
	position: relative
	float: left
	width: 100%
	margin: 35px 0

	.entry
		position: relative
		float: left
		width: 100%
		margin: 0 0 30px 0

		label
			display: block
			float: left
			font-family: 'Oswald', sans-serif
			font-weight: 400
			font-size: 24px
			width: 25%
			height: 50px
			line-height: 50px

		p.error
			float: right
			width: 72%
			color: red
			margin-top: 15px

		input[type="text"],
		input[type="email"],
		textarea
			float: right
			width: 70%
			background: white
			border: 5px solid white
			height: auto
			padding: 15px
			font-size: 16px
			font-family: 'Droid Sans', serif
			font-weight: 400
			color: $grey

			&.error
				border: 5px solid red

		input[type="text"],
		input[type="email"]
			height: 20px

		textarea
			height: 150px

		input[type="submit"]
			float: right
			cursor: pointer
			border: 0
			font-weight: 300

// Modal window
#modal-window-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: black
	z-index: 500
	+opacity(0.8)

#modal-window
	position: fixed
	top: 50%
	left: 50%
	margin-top: -300px
	margin-left: -400px
	width: 700px
	max-height: 500px
	background: white
	padding: 50px
	z-index: 501

	.checkbox
		position: relative
		float: left
		width: 33%
		margin: 0 0 5px 0
		font-size: 15px

		label
			cursor: pointer

	h2
		color: $grey
		font-size: 26px
		font-weight: 400

	#modal-window-submit
		margin: 25px 0 0 0
	#modal-window-close
		position: absolute
		top: 0
		right: 0
		background: $orange url(/images/close.png) no-repeat 95px center
		width: 105px
		font-size: 20px
		padding: 0 0 0 20px
		z-index: 502

// Specific styles
body,html
	width: 100%
	height: 100%
body
	background: url(/images/bg.gif)
	font-family: 'Droid Sans', serif
	font-weight: 400
	font-size: 14px
	color: $darkGrey
	overflow-x: hidden
	-webkit-font-smoothing: antialiased

.wrapper
	position: relative
	width: 990px
	margin: auto

header
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 62px
	background: url(/images/bg-header.png)
	z-index: 99

	.shadow-top
		position: absolute
		width: 100%
		height: 24px
		top: 62px
		z-index: 99

		&.right
			right: 0
			background: url(/images/bg-shadow-right.png) no-repeat top right
		&.left
			left: 0
			background: url(/images/bg-shadow-left.png) no-repeat top left

	h1 a
		position: absolute
		top: 10px
		left: 0
		display: block
		background: $orange
		color: white
		font-family: 'Lobster', cursive
		font-size: 32px
		height: 40px
		width: 205px
		line-height: 35px
		text-align: center
		+text-shadow(rgba(black, 0.85) 1px 1px 0)

	nav
		position: relative
		float: right

		ul li
			float: left
			height: 62px
			line-height: 62px
			margin-left: 30px

			a
				color: $grey

				&:hover
					color: black

			&.active a
				color: $orange
// Slider styles
.slider-wrapper
	position: relative
	width: 100%
	height: 100%
	min-height: 100%

	.scrolldown
		position: absolute
		bottom: 15px
		right: 15px
		width: 175px
		height: 25px
		line-height: 25px
		font-size: 14px
		background: $orange url(/images/arrow-filter.png) no-repeat 160px center
		padding: 0 0 0 15px
		z-index: 50

	.slider
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		height auto
		width: auto
// Content wrappers homepage
.content-wrapper
	position: relative
	width: 100%
	height: 400px
	padding: 100px 0 100px 0
	overflow: hidden

	&.small
		padding: 50px 0
		height: 120px

	&.grey
		background: $grey url(/images/bg-grey.gif)
	&.orange
		background: $orange url(/images/bg-orange.gif)

	.left
		float: left
		width: 50%
		&.text
			width: 45%
			padding-right: 5%
		&.extra
			width: 40%
			padding-right: 10%
	.right
		float: right
		width: 50%
		&.text
			width: 45%
			padding-left: 5%
			&.extra
				width: 40%
				padding-left: 10%
	.facebook-wrapper
		position: relative
		float: left
		width: 100%
		text-align: center

		.facebook
			position: relative
			width: 315px
			margin: auto
			overflow: hidden
// Footer
footer
	position: relative
	clear: both
	width: 100%
	height: 150px
	background: $darkGrey
	border-top: 2px solid #222

	nav
		position: relative
		float: left

		ul li
			float: left
			height: 150px
			line-height: 150px
			margin-right: 30px

			a
				color: $lightGrey

				&:hover
					color: white

			&.active a
				color: $orange
	.social
		position: absolute
		top: 0
		right: 0
		li
			float: left
			margin-left: 20px
			height: 150px
			line-height: 170px
	.backtotop
		position: absolute
		top: -35px
		right: 2%
		width: 70px
		height: 70px
		background: $orange url(/images/arrow-up.png) no-repeat center center
		z-index: 99