{% extends 'index' %}

{% block 'main' %}

%article{ :class => "main-content-wrapper extra" }
	%section{ :class => "wrapper" }
		%h2
			404
		%p{ :class => "intro" }
			De opgevraagde pagina is niet gevonden.
		%ul{ :class => "error" }
			%li
				Ga terug naar de <a href="/">homepage</a>
			%li
				Bekijk <a href="/ons-werk">ons werk</a>
			%li
				<a href="/wat-doen-wij">Ontdek</a> wat wij voor jou kunnen betekenen
			%li
				Neem <a href="/contact">contact</a> met ons op

{% endblock %}