{% extends 'index' %}

{% block 'main' %}
	<div id="content">
		{% include 'breadcrumb' %}
		<article>
			<section class="content">
				<p>Algemene voorwaarden hier</p>
			</section>
		</article>
	</div>
{% endblock %}