<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<title>{{ site.name }} | {{ page.title }}</title>
	<meta charset="utf-8">
	{% csrf_meta %}
	{% include 'stylesheets' %}
	{% include 'javascripts' %}
</head>
<body{% if page.fullpath == 'index' %} class="home"{% endif %}>
	<div id="container">
		<header>
			<h1>
				<a href="/"><span></span></a>
			</h1>
			{% include 'navigation' %}
		</header>
		{% block 'main' %}
			{% include 'slider' %}
			<div id="slogan">
				<h2>
					{% editable_short_text 'slogan_title' %}
						Title here
					{% endeditable_short_text %}
				</h2>
				<h3>
					{% editable_short_text 'slogan_subtitle' %}
						Subtitle here
					{% endeditable_short_text %}
				</h3>
			</div>
			{% include 'latest_shoots' %}
			<article class="our-services">
				<section>
					<hgroup class="icon-person">
						<h4>
							{% editable_short_text 'service1_title' %}Title here{% endeditable_short_text %}
						</h4>
						<h5>
							{% editable_short_text 'service1_subtitle' %}Subtitle here{% endeditable_short_text %}
						</h5>
					</hgroup>
					<p>
						{% editable_short_text 'service1_intro' %}Intro here{% endeditable_short_text %}
					</p>
					<a class="btn" href="{% editable_short_text 'service1_link' %}Link here{% endeditable_short_text %}">
						{% editable_short_text 'service1_link_label' %}Label here{% endeditable_short_text %}
					</a>
				</section>
				<section>
					<hgroup class="icon-camera">
						<h4>
							{% editable_short_text 'service2_title' %}Title here{% endeditable_short_text %}
						</h4>
						<h5>
							{% editable_short_text 'service2_subtitle' %}Subtitle here{% endeditable_short_text %}
						</h5>
					</hgroup>
					<p>
						{% editable_short_text 'service2_intro' %}Intro here{% endeditable_short_text %}
					</p>
					<a class="btn" href="{% editable_short_text 'service2_link' %}Link here{% endeditable_short_text %}">
						{% editable_short_text 'service2_link_label' %}Label here{% endeditable_short_text %}
					</a>
				</section>
				<section class="no-mg">
					<hgroup class="icon-globe">
						<h4>
							{% editable_short_text 'service3_title' %}Title here{% endeditable_short_text %}
						</h4>
						<h5>
							{% editable_short_text 'service3_subtitle' %}Subtitle here{% endeditable_short_text %}
						</h5>
					</hgroup>
					<p>
						{% editable_short_text 'service3_intro' %}Intro here{% endeditable_short_text %}
					</p>
					<a class="btn" href="{% editable_short_text 'service3_link' %}Link here{% endeditable_short_text %}">
						{% editable_short_text 'service3_link_label' %}Label here{% endeditable_short_text %}
					</a>
				</section>
			</article>
		{% endblock %}
	</div>
	<footer>
		<section id="one">
			<section class="wrapper">
				{% include 'navigation' %}
				{% include 'address' %}
			</section>
		</section>
		<section id="two">
			<section class="wrapper">
				{% include 'footer' %}
			</section>
		</section>
	</footer>
</body>
</html>