!!! 5
%html{ :lang => "{{ locale }}" }
	%head
		%meta{ :charset => "utf-8" }

		%title {{ site.name }} | {{ page.title }}

		%meta{ :content => "{{ site.meta_description }}", :name => "description" }
		%meta{ :content => "{{ site.meta_keywords }}", :name => "keywords" }

		{% csrf_meta %}
		{% include 'stylesheets' %}
		{% include 'javascripts' %}

	%body
		{% include 'header' %}

		{% block 'main' %}
		
		{% include 'slider' %}
		{% include 'home' %}

		{% endblock %}
		
		{% include 'footer' %}
