<!DOCTYPE html>
<html lang="{{ locale }}">
	<head>
		<meta charset="utf-8">
		{% include 'stylesheets' %}
		{% include 'javascripts' %}
		<title>{{ site.name }} | {{ page.title }}</title>
	</head>
	<body>
		{% block 'main' %}
		{% editable_long_text 'page_content' %}
			Edit your content here
		{% endeditable_long_text %}
		{% endblock %}
	</body>
</html>