{% extends 'index' %}

{% block 'main' %}
	
%article{ :class => "main-content-wrapper extra" }
	%section{ :class => "wrapper" }
		%h2
			Ons werk
		%p{ :class => "intro small" }
			Onderstaand een selectie van ons werk, maak gebruik van het filter om te filteren op het gewenste merk.
		%div{ :class => "filter" }
			%a{ :href => "#", :class => "btn" }
				Filteren
		
		%hr{ :class => "line" }

		%ul{ :class => "thumbs" }
			{% for photoshoot in contents.photoshoots limit:12 %}
			%li{ :class => "{{ 'no-mg' | modulo: forloop.index0, 3 }}" }
				%a{ :href => "/ons-werk/{{ photoshoot._permalink }}" }
					%img{ :src => "{{ photoshoot.thumbnail.url }}", :alt => "{{ photoshoot.title }}" }
					%p
						{{ photoshoot.brand }} {{ photoshoot.type }}
						%span{ :class => "btn" }
							Bekijken
			{% endfor %}

{% endblock %}