{% extends 'index' %}

{% block 'main' %}
	<div id="content">
		{% include 'breadcrumb' %}
		<article>
			<nav class="tabs">
				{% if page.parent.slug != 'index' %}
					{% nav 'parent', active_class:'active', icon:true %}
				{% else %}
					{% nav 'page', active_class:'active', icon:true %}
				{% endif %}
			</nav>
			<section class="content">
				{% editable_long_text 'content' %}
					<p>Page content here</p>
				{% endeditable_long_text %}

				{% block 'content' %}{% endblock %}
			</section>
		</article>
	</div>
{% endblock %}