{% extends 'index' %}

{% block 'main' %}
	<div id="content">
		<hgroup>
			<h2>{{ page.title }}</h2>
		</hgroup>
		{% include 'breadcrumb' %}
		<article>
			<section class="content">
				<p>Over ons hier</p>
			</section>
		</article>
	</div>
{% endblock %}