{% extends 'index' %}

{% block 'main' %}

%figure{ :class => "header",:data => {:src => "/images/dummies/header_our-services4.jpg"}}

%article{ :class => "intro-wrapper" }
	%div{ :class => "shadow" }
	%section{ :class => "wrapper" }
		%h2
			Wie zijn wij?
		%p{ :class => "intro" }
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sapien, tincidunt non pulvinar in, ultrices eu orci. Sed viverra purus non magna sodales non tempor nibh vestibulum.
		%ul
			%li
				%a{ :href => "#sytse-dijkstra", :class => "btn" }
					Sytse Dijkstra
			%li{ :class => "no-mg" }
				%a{ :href => "#koen-romers", :class => "btn" }
					Koen Romers

{% endblock %}