{% extends 'index' %}

{% block 'main' %}

/ %figure{ :class => "header",:data => {:src => "{{ 'dummies/header_our-services4.jpg' | theme_image_url }}"}}
%figure{ :class => "header"}

%article{ :class => "intro-wrapper" }
	%div{ :class => "shadow" }
	%section{ :class => "wrapper" }
		%h2
			{% editable_short_text 'Title 1' %}Wat kunnen we voor jou betekenen?{% endeditable_short_text %}
		%p{ :class => "intro" }
			{% editable_short_text 'Intro 1' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sapien, tincidunt non pulvinar in, ultrices eu orci. Sed viverra purus non magna sodales non tempor nibh vestibulum.{% endeditable_short_text %}
		%ul
			%li
				%a{ :href => "#!/fotoshoot", :class => "btn" }
					Fotoshoot
			%li
				%a{ :href => "#!/cursus", :class => "btn" }
					Cursus
			%li{ :class => "no-mg" }
				%a{ :href => "#!/nabewerking", :class => "btn" }
					Nabewerking
%article{ :class => "main-content-wrapper" }
	%section{ :class => "wrapper" }
		%article#fotoshoot{ :class => "subwrapper" }
			%h2
				{% editable_short_text 'Title 2' %}Fotoshoot{% endeditable_short_text %}
			%div{ :class => "intro" }
				{% editable_long_text 'Intro 2' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sapien, tincidunt non pulvinar in, ultrices eu orci. Sed viverra purus non magna sodales non tempor nibh vestibulum. {% endeditable_long_text %}

			%div{ :class => "priceplans" }
				%div{ :class => "priceplan" }
					%h3
						Basis
					%ul
						%li{ :class => "price" }
							&euro; 149,-
						%li
							Door ons gekozen locatie
						%li 
							1 rig shot
						%li
							Basis nabewerking
						%li
							Print op A4
						%li
							DVD met de beste foto's
						%li{ :class => "book" }
							%a{ :href => "#", :class => "btn" }
								Reserveren
				%div{ :class => "priceplan highlight" }
					%h3
						Uitgebreid
					%ul
						%li{ :class => "price" }
							&euro; 249,-
						%li
							Vrije locatie naar keuze
						%li 
							2 rig shots
						%li
							Geavanceerde nabewerking
						%li
							Print op A4
						%li
							DVD met de beste foto's
						%li{ :class => "book" }
							%a{ :href => "#", :class => "btn" }
								Reserveren
				%div{ :class => "priceplan" }
					%h3
						Op maat
					%ul
						%li{ :class => "price small" }
							Prijs op aanvraag
						%li
							Bijzondere locaties mogelijk (bijv. circuit)
						%li 
							Club of meerdere auto's
						%li
							Speciale nabewerkingseisen
						%li
							In het donker met studioflitsers
						%li
							&hellip; en nog veel meer
						%li{ :class => "book" }
							%a{ :href => "#", :class => "btn" }
								Reserveren
		%article#cursus{ :class => "subwrapper" }
			%h2
				{% editable_short_text 'Title 3' %}Cursus{% endeditable_short_text %}
			%div{ :class => "intro" }
				{% editable_long_text 'Intro 3' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sapien, tincidunt non pulvinar in, ultrices eu orci. Sed viverra purus non magna sodales non tempor nibh vestibulum. {% endeditable_long_text %}

			%div{ :class => "table" }
				%table
					%tr{ :class => "no-border" }
						%th
							Datum
						%th
							Locatie
						%th
							&nbsp;
					%tr{ :class => "even" }
						%td
							Woensdag 2 januari 2013
						%td
							Oranjelaan 7, Rozenburg ZH
						%td
							%a{ :href => "#", :class => "btn" }
								Inschrijven
					%tr
						%td
							Woensdag 2 januari 2013
						%td
							Oranjelaan 7, Rozenburg ZH
						%td
							%a{ :href => "#", :class => "btn" }
								Inschrijven
					%tr{ :class => "even" }
						%td
							Woensdag 2 januari 2013
						%td
							Oranjelaan 7, Rozenburg ZH
						%td
							%a{ :href => "#", :class => "btn" }
								Inschrijven
					%tr{ :class => "no-border" }
						%td
							Woensdag 2 januari 2013
						%td
							Oranjelaan 7, Rozenburg ZH
						%td
							%a{ :href => "#", :class => "btn" }
								Inschrijven

		%article#nabewerking{ :class => "subwrapper" }
			%h2
				{% editable_short_text 'Title 4' %}Nabewerking{% endeditable_short_text %}
			%div{ :class => "intro" }
				{% editable_long_text 'Intro 4' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sapien, tincidunt non pulvinar in, ultrices eu orci. Sed viverra purus non magna sodales non tempor nibh vestibulum. {% endeditable_long_text %}

{% endblock %}